@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Space+Grotesk:wght@300..700&display=swap');
/* import letter space grotesk */
*{/*estilos generales*/
    padding:0; 
    margin:0; 
    box-sizing: border-box; 
}  
/* estilos header */ 

:root{
    --TitleText--: "Space Grotesk" serif; 
    --paddinAll-- : 6rem;
    /*  */
} 
body{
    overflow-x: hidden;
    max-width: 1440px;   
}
.container{ 
    display: flex; 
    flex-flow: column nowrap; 
    
}  

/*inicio del header*/
.header{ 
    height: 4rem; 
    width: 100vw; 
    display: flex;  
    align-items: center;  
    justify-content: space-between;  
    margin-top: 10px;
    padding-inline: var(--paddinAll--);

}   


.access_header{
    padding-inline: 1rem; 
    display: flex;
    align-items: center;
    gap: 2rem;  
} 
.access_header--buttonAccess{ 
    text-decoration: none; 
    font-size: 20px; 
    color:black;
    
} 
.access_header--buttonAccessBorder{
    border: 1px black solid;
    padding: 20px 35px;
    border-radius: 22px; 
    font-family: var(--TitleText--);
} 
/*fin del header*/ 
.Hero{  
    position: relative;
    padding-top: 5rem;
    width: 100vw; 
    height: auto;
    flex-flow: row wrap;   
    padding-inline: var(--paddinAll--);
    display: flex;  
    justify-content: space-between;   
    align-items: center;
} 
.hero_Descrip{
    width: 531px; 
    height: 600px; 
    display: flex;  
    justify-content: space-around;
    flex-flow: column nowrap; 
}  
.Hero_Descrip--title{
    font-family: var(--TitleText--); 
    font-size:60px;
} 
.Hero_Descrip--info{
    font-size: 20px;
} 
.Hero_Descrip--Button{
    width:264px; 
    height: 68px; 
    border-radius: 14px; 
    background-color: #191A23;
    color: white;
    font-family: var(--TitleText--); 
    transition: .3s ease-in-out;

}    
.Hero_Descrip--Button:hover{
    background-color: white; 
    border:1px solid black;
    color: black; 
    transition: .3s ease-in-out;
} 
.Hero_Img{
    height: 600px; 
    width: 531px;
}
/* incio de lista de empresas */
.Hero_Enterprise{
    width: 100%;  
    height: 48px;
    display: flex; 
    justify-content: space-between;   
    align-items: center;
        /* align-items: center; */
} 
.Hero_Enterprise--img{
    object-fit: contain; 
    height: 48px; 
    width: 1440px;
} 
/* containers Cards */ 
.containerCards{
    position: relative; 
    width: 100vw;  
    height: auto; 
    padding-inline: var(--paddinAll--); 
    display: flex;   
    flex-wrap: wrap;
    justify-content: center; 
    align-items: center;

} 
.services_descript--head{
    display:flex;  
    width: 100%; 
    height: auto;
    justify-content: start; 
    align-items: center; 
    gap: 3rem;  
    padding-top: 10rem; 
        h2{
            font-size: 40px;  
            background-color: #B9FF66; 
            padding-inline: 7px; 
            border-radius: 5px;
            box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.356) ;
        } 
        p{
            font-size: 18px;  
            height: 46px;
            width: 580px; 
            text-align: justify; 
        }
}  
.containerCards_elements--cards{
    width: 100vw;
} 
